.serviceCard {
  background-color: #e3e1e1;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  padding: 3.3rem 4.8rem;
}

.serviceCard h1 {
  font-weight: 600;
  font-size: 22px;
}

@media (max-width: 767px) {
    .serviceCard{
      padding: 1.7rem 2.5rem;
    }
  .serviceCard img {
    width: 68px;
    height: 68px;
  }
  .serviceCard h1 {
    font-size: 12px;
  }
}
