.splide__pagination{
    bottom: -20px;
    padding: 0 1em;
    position: absolute;
    z-index: 1
}


.splide__pagination__page {
    background-color: var(--swiper-pagination-bullet-inactive-color, #000);
    opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.2);
    width: 1.2rem !important;
    height: 1.2rem !important;
}
.splide__pagination__page:hover {
    background-color: var(--swiper-pagination-bullet-inactive-color, #000);
    opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.2);
}

.splide__pagination__page.is-active {
    background: var(--blue-color) !important;
    opacity: 1 !important;
}